
/* ================================================  1599 - 0000  ================================================ */

@media only screen 
and (max-width : 1599px) {

	/* REV UP */
	
	#revup-layer-1 .left .spacing,
	#revup-layer-2 .right,
	#revup-layer-3 .left .spacing,
	#revup-layer-4 .right {
		display: block;
	}
	
	#revup-layer-1, #revup-layer-3 { background: none repeat scroll 0 0 transparent;}
	#revup-layer-2, #revup-layer-4 { background: none repeat scroll 0 0 #f6f6f6;}
	
}



/* ================================================  1449 - 0000  ================================================ */

@media only screen 
and (max-width : 1449px) {

	/* HOMEPAGE */
	
	#main .left { width: 40%;}
	#main .right { width: 60%;}
	
	#bigmain .left { width: 40%;}
	#bigmain .right { width: 60%;}

}



/* ================================================  1365 - 0000  ================================================ */

@media only screen 
and (max-width : 1365px) {
	
	/* HOMEPAGE */
	
	#services.active .servicesbox::before {
		width: 100px;
	}
	
	
}



/* ================================================  1279 - 0000  ================================================ */

@media only screen 
and (max-width : 1279px) {

	/* CTA DEMO - ctademo2 */
	
	#calltoaction.cta-demo2 .ctabox.one { width: 33.5%; margin: 0 0 30px;}
	#calltoaction.cta-demo2 .ctabox.two { width: 50%; margin: 0 0 30px;}
	#calltoaction.cta-demo2 .ctabox.three { width: 100%;}
	
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.one { width: 67%;}
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.two { width: 33%;}
	
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.one .spacing { padding: 0 4% 0 0;}
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.two .spacing { padding: 0;}
	
	#calltoaction.cta-demo2 .ctabox.three .inione { width: 48%; float: left;}
	#calltoaction.cta-demo2 .ctabox.three .initwo { width: 48%; float: right;}
	
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.two input { width: 100%;}
}




/* ================================================  1199 - 0000  ================================================ */

@media only screen 
and (max-width : 1199px) {
	
	/* HOMEPAGE */
	
	.modmob { display: block;}
	.modmove { display: none;}
	
	#main .left { width: 50%;}
	#main .right { width: 50%;}
	
	#bigmain .left { width: 50%;}
	#bigmain .right { width: 50%;}
	
	.bkcnt-block { padding: 0 50px 0 15px;}
	
	

}





























