
/* ================================================  1599 - 0000  ================================================ */

@media only screen 
and (max-width : 1599px) {

	/* BOOKING ENGINE */
	
	.module3 { display: none;}
	
	#page-layer-1 .col_one_half.right .spacing { padding: 0 40px 0 0; max-width: 500px;}
	
	
	/* REV UP */
	/*
	#revup-layer-1 .left .spacing,
	#revup-layer-2 .right,
	#revup-layer-3 .left .spacing,
	#revup-layer-4 .right {
		display: block;
	}
	
	#revup-layer-1, #revup-layer-3 { background: none repeat scroll 0 0 transparent;}
	#revup-layer-2, #revup-layer-4 { background: none repeat scroll 0 0 #f6f6f6;}*/
	
}



/* ================================================  1449 - 0000  ================================================ */

@media only screen 
and (max-width : 1449px) {

	/* HOMEPAGE */
	
	#main .left { width: 40%;}
	#main .right { width: 60%;}
	
	#bigmain .left { width: 40%;}
	#bigmain .right { width: 60%;}

}



/* ================================================  1399 - 0000  ================================================ */

@media only screen 
and (max-width : 1399px) {

	/* WEB & MOBILE */
	
	#webmobilelayer2 .webbox-two {
		top: 150px;
	}
	
	#webmobilelayer2 .webbox-two {
		left: 52%;
	}
	
	#webmobilelayer2 .webbox-two .webmid.one img {
		max-width: 250px;
		margin: 0 auto;
	}
	
	#webmobilelayer2 .webbox-three {
		bottom: auto;
		top: 0;
	}
}



/* ================================================  1365 - 0000  ================================================ */

@media only screen 
and (max-width : 1365px) {
	
	/* HOMEPAGE */
	
	#services.active .servicesbox::before {
		width: 100px;
	}
	
	
	/* CRS */
	
	#crs-overview .container { padding: 0 0 40px;}
	#crs-overview .subcontainer { padding: 0 50px;}
	.module2 { display: none;}
	
	ul.checklist {
		margin: 0 50px;
	}
	
	
	/* WEB & MOBILE */
	
	#webmobilelayer3 .webbox-one {
		float: none;
		width: 100%;
		margin: 0 0 10px;
	}
	
	#webmobilelayer3 .webbox-two {
		float: none;
		width: 100%;
		max-width: 420px;
	}
	
	.centerbarge.left { float: left;}
	.centerbarge.right { float: right;}
	
	.centerbarge { width: 46%; margin: 0 0 30px;}
	.centerbarge.three { margin: 0 0 30px;}
	
	
	/* BLOG */
	
	.widgets .widgettitle {
		padding: 20px 20px 20px 25px;
	}
	
	.widgets ul {
		padding: 30px 45px 10px 25px;
	}
	
	.widgets.textwidget h3 {
		padding: 20px 20px 20px 25px;
	}
	
}



/* ================================================  1280 - 0000  ================================================ */

@media only screen 
and (max-width : 1280px) {
	
	/* DIGITAL MARKETING */
	
	#dm-layer-1 .subcontainer { padding: 0 50px;}
	#dm-layer-1 .col_one_fourth { width: 40%;}
	#dm-layer-1 .col_three_fourth { width: 60%;}
	
	#dm-layer-2 {
		background-size: 1440px auto;
		background-position: -105px bottom;
	}
	#dm-layer-2 .col_one_fourth { width: 50%;}
	
	
	#dm-layer-2 .col_one_half {
		position: absolute;
		width: 500px;
		bottom: 30px;
		right: 30px;
	}
	.dmstats { width: 240px;}
	
	
	/* CTA DEMO - ctademo3 */
	
	#calltoaction.cta-demo3 .ctabox.two { width: 50%;}
	#calltoaction.cta-demo3 .ctabox.three { width: 25%;}

}



/* ================================================  1279 - 0000  ================================================ */

@media only screen 
and (max-width : 1279px) {
	
	/* CRS */
	
	#crs-overview .col_one_third {
		margin: 0px 0px 20px;
		width: auto;
		max-width: 50%;
	}
	
	#crs-overview .col_two_third { width: 100%;}
	
	#crspricetool .col_one_third { width: 50%;}
	#crspricetool .col_two_third { width: 50%;}
	
	#crspmsrms .col_one_third { width: 50%; margin: 0 0 30px;}
	#crspmsrms .col_two_third { width: 100%;}
	
	ul.checklist {
		margin: 0 25px;
	}
	
	
	/* RESOURCES */
	
	#resourceslist .resourcebox {
		width: 33.33%;
	}
	
	
	/* ABOUT US */
	
	#aboutmain .strategic .subcontainer,
	#aboutmain .leadership .subcontainer,
	#aboutmain .different .subcontainer,
	#aboutmain .working .subcontainer { padding: 0 50px;}
	
	#aboutmain .pagesection h3 {
		max-width: 90%;
		margin: 0 0 30px;
	}
	
	#aboutmain .strategic .col_one_fourth,
	#aboutmain .leadership .col_one_fourth.one,
	#aboutmain .different .col_one_fourth.one,
	#aboutmain .working .col_one_fourth.one {
		float: none;
		width: auto;
	}
	
	#aboutmain .strategic .col_one_half { width: 90%;}
	
	#aboutmain .leadership .col_three_fourth.two { width: 100%;}
	
	#aboutmain .different .col_one_fourth.two,
	#aboutmain .different .col_one_fourth.three { width: 45%;}
	
	#aboutmain .working .col_one_fourth.two,
	#aboutmain .working .col_one_fourth.three,
	#aboutmain .working .col_one_fourth.four {
		width: 33.33%;
	}
	
	
	/* CTA DEMO - ctademo2 */
	
	#calltoaction.cta-demo2 .ctabox.one { width: 33.5%; margin: 0 0 30px;}
	#calltoaction.cta-demo2 .ctabox.two { width: 50%; margin: 0 0 30px;}
	#calltoaction.cta-demo2 .ctabox.three { width: 100%;}
	
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.one { width: 67%;}
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.two { width: 33%;}
	
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.one .spacing { padding: 0 4% 0 0;}
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.two .spacing { padding: 0;}
	
	#calltoaction.cta-demo2 .ctabox.three .inione { width: 48%; float: left;}
	#calltoaction.cta-demo2 .ctabox.three .initwo { width: 48%; float: right;}
	
	#calltoaction.cta-demo2 .ctabox.three .col_one_half.two input { width: 100%;}
}




/* ================================================  1199 - 0000  ================================================ */

@media only screen 
and (max-width : 1199px) {
	
	/* HOMEPAGE */
	
	.modmob { display: block;}
	.modmove { display: none;}
	
	#main .left { width: 50%;}
	#main .right { width: 50%;}
	
	#bigmain .left { width: 50%;}
	#bigmain .right { width: 50%;}
	
	.bkcnt-block { padding: 0 50px 0 15px;}
	
	
	/* WEB & MOBILE */
	
	#webmobilelayer2 .container {
		padding: 50px 0;
	}
	
	#webmobilelayer2 .webbox-one { max-width: 600px; width: auto; margin: 0 0 30px;}
	#webmobilelayer2 .webbox-one .webtext.one { max-width: 100%;}
	#webmobilelayer2 .webbox-one .webtext.two p { max-width: 100%;}
	
	#webmobilelayer2 .webbox-two,
	#webmobilelayer2 .webbox-three { position: static; margin: 0;}
	#webmobilelayer2 .webbox-two { float: left; width: 50%;}
	#webmobilelayer2 .webbox-three { float: right; width: 48%;}
	

}



/* ================================================  1024 - 0000  ================================================ */

@media only screen 
and (max-width : 1024px) {
	
	/* SOLUTIONS */
	
	#solutionsmain .solutionstabs1 .clear3 { display: none;}
	#solutionsmain .solutionstabs1 .clear2 { display: block;}
	
	#solutionsmain .solutionstabs1 .col_one_third { width: 50%;}
	
	
	/* BOOKING ENGINE */
	
	#page-layer-2 .col_one_half.right { width: 50%;}
	
}



/* ================================================  1023 - 0000  ================================================ */

@media only screen 
and (max-width : 1023px) {
	
	/* HOMEPAGE */
	
	#main .subcontainer { padding: 0 50px;}
	
	#main .left,
	#main .right {
		float: none;
		width: auto;
	}
	
	#main .left {
		margin: 0 0 50px;
	}
	
	#main .right {
		border-bottom: 1px solid #000;
	}
	
	.topgraph {
		padding: 0;
		text-align: center;
	}
	
	.topgraph h2 { display: none;}
	
	.topgraph p {
		max-width: none;
		padding: 0 20px;
		text-align: left;
	}
	
	.graphics { height: auto; padding: 0 0 50px;}
	.graphss { display: none;}
	
	.booking-engine { display: none;}
	.web-engine { display: none;}
	
	
	
	/* BLOG */
	
	#mainblog.mainblog .container,
	#mainblog.singlepost .container { padding: 0 50px;}
	
	#mainblog .subcontainer::before,
	#mainblog .subcontainer::after {
		display: none;
	}
	
	.blogcontent {
		width: 100%;
		margin: 0 0 50px;
	}
	
	.blogcontent .spacing {
		padding: 0;
	}
	
	.sidebar {
		width: 100%;
		margin: 0 0 20px;
	}
	
	.widgets.social li:last-child a {
		border-right: 1px solid #D3D3D3;
	}
	
	/* BLOG POST */
	
	#mainblog.singlepost .subcontainer {
		padding: 0;
	}
	
	#mainblog.singlepost .blogcontent .spacing {
		padding: 0 0 0 90px
	}
	
	#mainblog.singlepost .entry {
		margin-bottom: 0;
	}
	
}



/* ================================================  959 - 000  ================================================ */

@media only screen 
and (max-width : 959px) {
	
	/* NAVIGATION */
	
	.navigation { display: none;}
	#header .rightnav { float: left;}
	.openme { display: block;}
	
	
	/* RESOURCES */
	
	#resourceslist .resourcebox { width: 50%;}
	
	
	/* BLOG */
	
	.template-blog h2.blogtitle,
	.template-blog-single h1.blogtitle { width: 90%;}
	
	.template-blog .entry p { width: auto;}


}



/* ================================================  800 - 000  ================================================ */

@media only screen 
and (max-width : 800px) {

	/* ABOUT US */
	
	#aboutmain .pagesection h3 { max-width: 100%;}
	
	#aboutmain .strategic .col_one_half { width: 100%;}
	
	#aboutmain .different .col_one_fourth.two,
	#aboutmain .different .col_one_fourth.three { width: 50%;}
	
	#aboutmain .working .col_one_fourth.two,
	#aboutmain .working .col_one_fourth.three { width: 50%; margin: 0 0 30px;}
	#aboutmain .working .col_one_fourth.four { width: 100%;}
	
	
	
	
	
	/* SOLUTIONS */
	
	#pagebanner.contentright .container, #bottombanner.contentright .container { float: none; width: 89%;  margin: auto; }
	#pagebanner h1, #pagebanner h2, #bottombanner h1, #bottombanner h2 { line-height: 40px; margin-bottom: 20px; }
	#pagebanner p, #bottombanner p { line-height:  24px; }
	#solutionsmain .solutionstabs1 .col_one_third { width: 100%; text-align: center; }
	#solutionsmain .pagesection .spacing { padding: 0; }
	#solutionsmain .pagesection p { font-size: 14px; line-height: 22px;}
	li.flex-active-slide { width: 250px; }
	
	.col_one_third { width: 100%; float: none; }
	div.subcontainer { padding: 0; }
	
	#calltoaction.cta-demo3 h3 { width: 100%; text-align: left; padding: 0;}	
	#calltoaction.cta-demo3 .ctabox.two { width: 100%; }
	#calltoaction p { font-size: 16px; line-height: 24px; margin: 15px 0;}
	#calltoaction.cta-demo3 .ctabox.three { width: 55%; }	
	div#bottomnav { display: none; }
	#footer .subcontainer { padding: 0}
	.col_one_fourth, .pagesection > .col_one_fourth.left { width: 100%; float: none; }
	#footer .col_one_fourth.one .footernav { padding: 0; max-width: inherit; }
	.col_one_fourth, .pagesection > .col_one_fourth.left { width: 100%; float: none; text-align: center; }
	#calltoaction.cta-demo1 .subcontainer, #calltoaction.cta-demo2 .subcontainer, #calltoaction.cta-demo3 .subcontainer, #calltoaction.cta-newsletter .subcontainer { padding: 0; }
	
	#calltoaction.cta-demo3 .ctabox { width: 100%; float: none; }
	#footer .col_one_fourth.two .footernav { padding: 0; }
	#footer .col_one_fourth.one .footernav p { padding: 0; margin: -40px 0 30px; text-align: center; }
	#footer .footersocial { padding: 0 }
	#footer .footersocial ul { padding-bottom: 20px; padding-top: 20px;}
	#footer .footeradd p { padding: 0;}
	
	
	/* CRS */
	
	#breadcrumbs { padding: 0 15px; }
	#crs-overview .subcontainer { padding: 0 20px; }
	#crs-overview .col_one_third { max-width: 100%; }
	#crs-overview .spacing { padding-right: 0; }
	#crs-overview h3 { font-size: 36px; line-height: 48px; }
	.col_one_half { width: 100%; float: none; text-align: center; }
	
	#crspricetool .container { width: 95%; }
	#crspricetool .col_one_third { width: 100%; float: none; }
	#crspricetool ul li { width: 100%; float: none; }
	#crspmsrms .col_one_third { width: 100%; float: none; }
	#crspmsrms .container { margin: 90%; margin: auto; }
	


}



/* ================================================  768 - 000  ================================================ */

@media only screen 
and (max-width : 768px) {



}


/* ================================================  767 - 000  ================================================ */

@media only screen 
and (max-width : 767px) {



}



/* ================================================  640 - 000  ================================================ */

@media only screen 
and (max-width : 640px) {



}


/* ================================================  639 - 000  ================================================ */

@media only screen 
and (max-width : 639px) {



}



/* ================================================  600 - 000  ================================================ */

@media only screen 
and (max-width : 600px) {



}


/* ================================================  599 - 000  ================================================ */

@media only screen 
and (max-width : 599px) {



}



/* ================================================  568 - 000  ================================================ */

@media only screen 
and (max-width : 568px) {



}



/* ================================================  567 - 000  ================================================ */

@media only screen 
and (max-width : 567px) {



}



/* ================================================  480 - 000  ================================================ */

@media only screen 
and (max-width : 480px) {



}



/* ================================================  479 - 000  ================================================ */

@media only screen 
and (max-width : 479px) {



}



/* ================================================  399 - 000  ================================================ */

@media only screen 
and (max-width : 399px) {



}













