*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

blog/wp-content/advanced-cache.php
blog/wp-content/backup-db/
blog/wp-content/backups/
blog/wp-content/blogs.dir/
blog/wp-content/cache/
blog/wp-content/upgrade/
blog/wp-content/uploads/
blog/wp-content/wp-cache-config.php