.swiper-main, .swiper-container, .swiper-slide, .swiper-slide img {
	height:325px;
}
.pagination1 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination1 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination1 .swiper-active-switch {
	background: #e59107;
}







.pagination2 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination2 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination2 .swiper-active-switch {
	background: #e59107;
}


.pagination3 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination3 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination3 .swiper-active-switch {
	background: #e59107;
}


.pagination4 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination4 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination4 .swiper-active-switch {
	background: #e59107;
}

.pagination5 {
	text-align: center;
	margin-top: 5px;
}


/* Pagination */
.pagination5 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination5 .swiper-active-switch {
	background: #e59107;
}




.pagination6 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination6 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination6 .swiper-active-switch {
	background: #e59107;
}






.pagination7 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination7 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination7 .swiper-active-switch {
	background: #e59107;
}









.pagination8 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination8 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination8 .swiper-active-switch {
	background: #e59107;
}








.pagination9 {
	text-align: center;
	margin-top: 5px;
}

/* Pagination */
.pagination9 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	box-shadow: 0px 0 3px #fff inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination9 .swiper-active-switch {
	background: #e59107;
}