html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button, textarea, a {
  	background: transparent;
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: normal;
	font-family: MuseoSans, "Arial", "Helvetica"
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; padding:0 0 1.5em 0; }
input, select { vertical-align:middle; }

/* End of Reset CSS */





body {
	background: #fff;
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {  }

/* By default the selection color is pink */
::-moz-selection{ background: #249fcd; color:#fff; text-shadow: none; }
::selection { background:#249fcd; color:#fff; text-shadow: none; }
.ie7 img { -ms-interpolation-mode: bicubic; }



ul, ol, p {
	padding: 0 0 1.5em 0;
}

ul, ol {
	list-style: none;
}

ul li {
	list-style: none;
}

p {
	font-family: MuseoSans, Arial;
	color: #2e2d2d;
	font-size: 13px;
	line-height: 22px;	
}

a {
	color: #249fcd;
}

article blockquote {
	border-left: 1px solid #ebe0b5;
	font-family: MuseoSans, Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
	padding: 15px 0 15px 30px;
	margin: 5px 0 10px 30px;
}
article ul {
	margin-left: 20px;
}
article ul li {
	padding: 5px;
	list-style: square;
	font-family: MuseoSans, Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}

article ol {
	margin-left: 20px;
}
article ol li {
	padding: 5px;
	list-style-type: decimal;
	font-family: MuseoSans, Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}


/* remember to define focus styles! */
:focus {outline: 0;}

img {border:0;}
a img {border:0}

/* Float Definitions -----------------------------------------------------------*/

.clear {clear:both;} 

.right {float: right;} 

.left {float: left;}

.alignright {float: right;margin: 0 0 2px 7px;}
.alignleft {float: left;margin: 0 7px 2px 0;}

img.left, img.alignleft {float: left;margin: 0 15px 7px 0;}

img.right, img.alignright {float: right;margin: 0 0 7px 15px;}

.post img.aligncenter, .attachment img.aligncenter { display:block; margin: 0 auto; text-align: center; }

.nopad {
	padding: 0px !important;
}
.nomargin {
	margin: 0px !important;
}
.noborder {
	border: none !important;
}

.col_one_fourth {
  width: 25%;
  float: left;
}

.col_one_third {
  width: 33.3333%;
  float: left;
}

.col_one_half {
  width: 50%;
  float: left;
}

a.button1 {
  background-color: #93c01f;
  color: #fff;
  padding: 8px 25px;
  border-radius: 20px;
  display: inline-block;
}

a.button2 {
  background-color: #fff;
  color: #33a1cc;
  padding: 8px 25px;
  border-radius: 20px;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

a.button3 {
  background-color: #ec9103;
  color: #fff;
  padding: 8px 25px;
  border-radius: 20px;
  display: inline-block;
}

strong {
  font-weight: 700;
}

.line1 {
  height: 1px;
  background-color: #c9c9c9;
}

/* Base Styles -----------------------------------------------------------*/


/* HEADER */
div#header {
  background-color: #f3f3f3;
  overflow: hidden;
}

div#header .container {
  margin: 0 15px;
  overflow: hidden;
}

div#header .logo {
  float: left;
  padding: 15px 15px 15px 0;
  border-right: 2px solid #c0c0c0;
}

div#header .navigation {
  float: left;
}

div#header .navigation ul {
  padding: 0;
}

div#header .navigation ul li {
  display: inline-block;
  margin: 0 15px;
  line-height: 59px;
}

div#header .navigation ul li a {
  text-transform: uppercase;
  color: #555555;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-family: MuseoSans;
  font-weight: 500;
  display: block;
}

	div#header .navigation ul li a:hover {
	  color: #ec9103;
	  font-weight: 900;
	}
	
div#header .navigation ul li ul.subnavigation {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f3f3f3;
  margin-left: -15px;
  -moz-box-shadow: -1px 1px 1px #ccc;
  -webkit-box-shadow: -1px 1px 1px #ccc;
  box-shadow: -1px 1px 1px #ccc;
}

div#header .navigation ul li:hover ul.subnavigation {
    opacity: 1;
	visibility: visible;
}

div#header .navigation ul li ul.subnavigation li {
  display: block;
  line-height: 40px;
  border-bottom: 2px solid #c0c0c0;
  padding-right: 40px;
}

	div#header .navigation ul ul.subnavigation li:last-child {
	  border: none;
	}

li.icon-crs-distribution {
  background: url(images/icon-crs-distribution.png) no-repeat center right;
}
li.icon-booking-engine {
  background: url(images/icon-booking-engine.png) no-repeat center right;
}
li.icon-web-mobile {
  background: url(images/icon-web-mobile.png) no-repeat center right;
}
li.icon-digital-marketing {
  background: url(images/icon-digital-marketing.png) no-repeat center right;
}
li.icon-revenue-management {
  background: url(images/icon-revenue-management.png) no-repeat center right;
}
	
div#header .rightnav {
  float: right;
}

div#header .rightnav ul {
  padding: 0;
}

div#header .rightnav ul li {
  display: inline-block;
  margin: 0 15px;
  line-height: 59px;
}

div#header .rightnav ul li a {
  text-transform: uppercase;
  color: #555555;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-family: MuseoSans;
  font-weight: 500;
}

	div#header .rightnav ul li a:hover {
	  color: #ec9103;
	  font-weight: 900;
	}

div#header .rightnav ul li.demo-engine a {
  background-color: #93c01f;
  color: #fff;
  padding: 8px 25px;
  border-radius: 20px;
}



/* FOOTER */
div#footer {
  background-color: #ededed;
  overflow: hidden;
  clear: both;
}

div#footer .container {
  margin: 60px 50px 30px;
  overflow: hidden;
}

div#footer .footernav ul li {
  margin-bottom: 10px;
}

div#footer .footernav ul li a {
  color: #555555;
  font-weight: 300;
  font-size: 17px;
}

	div#footer .footernav ul li a:hover {
	  color: #ec9103;
	  font-weight: 900;
	}

div#footer .footeradd i {
  vertical-align: top;
  color: #33a1cc;
  margin-top: 4px;
}

div#footer .footeradd p {
  padding-left: 5px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.8;
  color: #555555;
}

div#footer .footersocial ul {
  padding-bottom: 60px;
}

div#footer .footersocial ul li {
  display: inline-block;
  font-size: 25px;
  margin: 0 5px;
}


div#footer .footersocial ul li i {
  color: #33a1cc;
}

div#footer .footersocial p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

div#footer .footersocial p a {
  color: #33a1cc;
}


/* HOMEPAGE BANNER */
div#banner {
  background: url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}

div#banner .container {
  margin: 0 80px;
  padding-top: 220px;
}

div#banner h2 {
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
}

div#banner p {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
}

/* HOMEPAGE SERVICES */
div#services {
  background-color: #33a1cc;
  color: #fff;
  overflow: hidden;
}

div#services .container {
  margin: 50px;
  overflow: hidden;
}

.servicesbox {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

.servicesbox:before {
  content: "";
  display: block;
  background: url(images/arrow-right.png) no-repeat;
  width: 180px;
  height: 27px;
  position: absolute;
  right: -85px;
  top: 8px;
}

.servicesbox:first-child:before, .servicesbox:last-child:before {
  background:none;
}

.servicesbox img {
  margin-bottom: 30px;
  height: 40px;
  width: auto;
}

.servicesbox h3 {
  padding-right: 50px;
  text-align: left;
  font-size: 34px;
  font-weight: 100;
}

.servicesbox h4 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
}

.servicesbox p {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.01em;
  padding: 0 28px 20px;
}

/* HOMEPAGE MAIN */
div#main {
  clear: both;
}

div#main .container {
  margin: 50px 30px;
}

div#main .mainsection {
  margin-bottom: 100px;
}

div#main img {
  max-width: 100%;
}

div#main h2 {
  padding-bottom: 20px;
  color: #4d4d4d;
  font-size: 33px;
}

div#main p {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 28px;
}

div#crs {
  overflow: hidden;
  background: url(images/crs-graph.jpg) no-repeat bottom right;
  background-size: contain;
}

.module {
  float: left;
  width: 20%;
  position: relative;
  margin-top: 360px;
  right: -50px;
  padding: 10px;
}

.is-sticky .module {
  right: 30px;
  background: #fff url(images/crs-graph.jpg) no-repeat bottom right;
  background-size: contain;
  z-index: 2;
}

.module .percent {
  color: #ec9103;
  font-size: 22px;
  font-weight: 700;
  float: left;
  width: 20%;
}

.module .modulecontent {
  float: left;
  width: 80%;
}

div#main .module p {
  font-size: 13px;
}

.module a {
  color: #ec9103;
}

/* HOMEPAGE DIGITAL MARKETING */
div#digital-marketing {
  overflow: hidden;
  clear: both;
  color: #4d4d4d;
  background: #fff url(images/digital-marketing.jpg) no-repeat;
  background-size: 80%;
  background-position: bottom right;
}

div#digital-marketing .container {
  margin: 50px 30px 50px;
  overflow: hidden;
}

div#digital-marketing .spacing {
  padding-right: 70px;
}

div#digital-marketing h3 {
  font-size: 30px;
  color: #4d4d4d;
  letter-spacing: 0.015em;
  padding-bottom: 20px;
}

div#digital-marketing p {
  font-size: 13px;
  font-weight: 100;
  line-height: 26px;
  color: #4d4d4d;
  letter-spacing: 0.015em;
}


ul.dmlogos {
  margin-top: 56px;
}

ul.dmlogos li {
  margin-bottom: 20px;
}

/* CALLTOACTION */
div#calltoaction {
  overflow: hidden;
  background-color: #33a1cc;
  color: #fff;
  text-align: center;
  clear: both;
}

div#calltoaction .container {
  margin: 50px;
}

div#calltoaction h3 {
  font-size: 33px;
  font-weight: 300;
  padding-bottom: 20px;
  letter-spacing: 0.015em;
}

/* CALLTOACTION2 */
div#calltoaction2 {
  overflow: hidden;
  background-color: #33a1cc;
  color: #fff;
  text-align: center;
  clear: both;
}

div#calltoaction2 .container {
  margin: 50px;
  overflow: hidden;
}

div#calltoaction2 h3 {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.015em;
  text-align: left;
}

div#calltoaction2 p {
  font-size: 18px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #fff;
}

div#calltoaction2 input {
  background-color: #fff;
  color: #828282;
  padding: 8px 25px;
  border-radius: 20px;
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

/* PAGE TEMPLATE */
div#mainpage {
  clear: both;
  overflow: hidden;
}

div#mainpage .container {
  margin: 0 60px 30px;
  overflow: hidden;
}

.pagecontent {
  float: left;
  width: 66%;
}

/* PAGE TITLE */
div#pagetitle {
  background-color: #32a1cc;
  color: #fff;
  border-bottom: 20px solid #f1f1f2;
  margin-bottom: 20px;
}

div#pagetitle .container {
  padding: 40px 60px;
}

div#pagetitle h1 {
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
}

/* PAGE BANNER */
div#pagebanner {
  background: url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  height: 520px;
}

div#pagebanner .container {
  margin: 0 180px;
  padding-top: 220px;
}

div#pagebanner h2 {
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  text-align: right;
}

div#pagebanner p {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
}


/* BREADCRUMBS */
div#breadcrumbs {
  clear: both;
  color: #0094c3;
  font-size: 11px;
}

div#breadcrumbs a {
  color: #0094c3;
}

div#breadcrumbs .container {
  margin: 30px 60px;
}

/* ABOUT US */
div#aboutmain {
  clear: both;
}

div#aboutmain .container {
  margin: 0;
}

div#aboutmain .pagesection {
  clear: both;
  padding: 30px 0;
  overflow: hidden;
}

div#aboutmain .pagesection:nth-child(2n) {
  background-color: #f6f6f6;
}

div#aboutmain .pagesection h3 {
  font-size: 34px;
  color: #4d4d4d;
  letter-spacing: 0.025em;
  padding: 0 30px;
}

div#aboutmain .pagesection .spacing {
  padding: 0 20px;
}

div#aboutmain p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 100;
  letter-spacing: 0.01em;
}

div#aboutmain p.aboutus {
  font-size: 25px;
}

div#aboutmain ul li {
  list-style: disc;
  list-style-position: inside;
  font-weight: 100;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.01em;
}

div#aboutmain #leadership .spacing {
  text-align: center;
}

div#aboutmain #leadership .spacing h4 {
  font-size: 24px;
  margin: 30px 0 5px;
}

div#aboutmain #leadership .spacing p {
  line-height: 1.5;
}

/* SOLUTIONS */
div#solutionsmain {
  clear: both;
}

div#solutionsmain .container {
  margin: 0 80px;
  text-align: center;
}

div#solutionsmain .container2 {
  padding: 40px 80px 0;
  text-align: center;
  background-color: #f6f6f6;
}

div#solutionsmain .pagesection {
  clear: both;
  padding: 30px 0;
  overflow: hidden;
}

div#solutionsmain .pagesection h3 {
  font-size: 34px;
  font-weight: 300;
  color: #4d4d4d;
}

div#solutionsmain .pagesection h4 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 20px;
  color: #4d4d4d;
}

div#solutionsmain .pagesection p {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.01em;
}

div#solutionsmain .pagesection img {
  padding-bottom: 30px;
}

div#solutionsmain .pagesection .spacing {
  padding: 0 40px;
}

div#solutionsmain .pagesection .testiflex .slides img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

div#solutionsmain .pagesection p.author {
  font-weight: 500;
  padding: 0;
}
div#solutionsmain .pagesection p.authorinfo {
  font-size: 12px;
  padding: 0;
}

/* FLEXSLIDER CUSTOM */
.flex-control-paging li a {
  background-color: #e9e9e9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover {
  background-color: #c7c7c7;
}

/* RESOURCES */
div#pagetitle.resources .container {
  padding: 40px 20px;
}

div#resourcesmain {
  clear: both;
  overflow: hidden;
}

div#resourcesmain .container {
  margin: 0 20px;
  overflow: hidden;
  position: relative;
}

div#resourcesmain .respic {
  width: 50%;
  float: left;
}

div#resourcesmain .respic img {
  max-width: 100%;
}

div#resourcesmain .resinfo {
  float: left;
  width: 50%;
}

div#resourcesmain .resinfo .spacing {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

div#resourcesmain .category {
  color: #eb9223;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.01em;
}

div#resourcesmain h2 {
  color: #34a4d9;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.01em;
}

div#resourcesmain h2 a {
  color: #34a4d9;
}

div#resourcesmain p {
  color: #616161;
  font-size: 28px;
  font-weight: 100;
  line-height: 36px;
}

div#resourceslist {
  clear: both;
  background-color: #f1f1f2;
  overflow: hidden;
}

div#resourceslist .container {
  padding: 20px 10px 40px;
  overflow: hidden;
}

div#resourceslist .resourcebox {
  float: left;
  width: 25%;
}

div#resourceslist .resourcebox:nth-child(5n) {
  clear: left;
}

div#resourceslist .resourcebox .spacing {
  margin: 10px;
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 2px #cdcbcb;
  -moz-box-shadow: -2px 2px 2px #cdcbcb;
  box-shadow: -2px 2px 2px #cdcbcb;
}

div#resourceslist .resourcebox img {
  width: 100%;
  max-width: 100%;
}

div#resourceslist .resourcebox .category {
  padding: 10px 20px;
  color: #eb9223;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

div#resourceslist .resourcebox h3 {
  padding: 10px 20px;
  color: #34a4d9;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  min-height: 90px;
}

div#resourceslist .resourcebox h3 a {
  color: #34a4d9;
}

/* BLOG ROLL - BLOG POST*/
div#mainblog {
  clear: both;
  overflow: hidden;
}

div#mainblog .container {
  margin: 30px 60px;
  overflow: hidden;
}

.blogcontent {
  float: left;
  width: 66%;
}

.entry {
  margin-bottom: 60px;
}

.entry ul {
  padding-left: 40px;
}

.entry ul li {
  font-weight: 100;
  line-height: 32px;
  list-style-type: disc;
}

.entry img {
  max-width: 100%;
}

.entry p {
  color: #363636;
  font-size: 16px;
  font-weight: 100;
  line-height: 32px;
}

img.featured-image {
  max-width: 100%;
  margin-bottom: 20px;
}

h1.blogtitle, 
h2.blogtitle, 
.entry h2 {
  color: #34a4d9;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

h1.blogtitle a, 
h2.blogtitle a, 
.entry h2 a {
  color: #34a4d9;
}

.meta {
  color: #363636;
  font-size: 11px;
  font-weight: 100;
  margin-bottom: 20px;
}

.meta span {
  margin-right: 10px;
}

.meta span.category {
  color: #35a4d9;
}

.meta a {
  color: #35a4d9;
}

.meta span.comments a {
  color: #363636;
}

.meta span.comments a:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(images/comment.png);
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-left: 3px;
}

.pagenav {
  text-align: right;
  margin-bottom: 20px;
  color: #363636;
  font-size: 12px;
  font-weight: 700;
}

.pagenav a {
  color: #34a4d9;
}

.pagenav span {
  margin-left: 20px;
}

.singlepost .blogcontent {
  float: left;
  width: 58%;
}

.socialshare {
  float: left;
  width: 8%;
  margin-top: 20px;
  text-align: center;
}

.socialshare p {
  font-size: 12px;
  font-weight: 300;
  color: #757576;
  line-height: 20px;
}

.socialshare ul li {
  margin-bottom: 20px;
}

.socialshare ul li a {
  color: #fff;
  background-color: #249fcd;
  border-radius: 100%;
  padding: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
}

/* BLOG SIDEBAR */
.sidebar {
  float: right;
  width: 30%;
  border-top: 2px solid #298bb0;
}

.sidebar .widgets {
  border: 1px solid #d3d3d3;
  border-top: 0;
  margin: 0 auto;
}

.widgets .widgettitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: #33a4d9;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px;
}

.widgets.textwidget h3 {
  padding: 20px;
  font-size: 18px;
  color: #454546;
}

.widgets.textwidget h3 a {
  color: #454546;
}

.widgets.textwidget p {
  padding: 20px;
  font-size: 14px;
  color: #454546;
}

.widgets.textwidget p a {
  color: #454546;
}

.widgets ul {
  padding: 20px;
}

.widgets ul li {
  color: #454546;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.005em;
  margin-bottom: 20px;
}

.widgets ul li a {
  color: #454546;
}

.widgets.search {
  text-align: center;
  padding: 20px;
}
.widgets.search input {
  background: #fff url(images/search.png) no-repeat 98% center;
  color: #828282;
  padding: 8px 25px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  border: 1px solid #1594d1;
}

.sidebar .widgets.social {
  padding: 0;
  border: 0;
}

.widgets.social ul {
  padding: 0;
  overflow: hidden;
}

.widgets.social li {
  float: left;
  width: 33.333%;
  text-align: center;
  margin: 0;
}

.widgets.social li:last-child a {
  border-right: 1px solid #d3d3d3;
}

.widgets.social a {
  color: #33a4d9;
  font-size: 30px;
  display: block;
  border-left: 1px solid #d3d3d3;
  padding: 20px 0;
}

.widgets.newsletter {
  text-align: center;
  background-color: #33a4d9;
  border: 0;
}

.widgets.newsletter h3.widgettitle {
  color: #fff;
  font-size: 24px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  border: 0;
}

.widgets.newsletter input[type="text"] {
  background-color: #fff;
  color: #828282;
  padding: 8px 25px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  border: 1px solid #1594d1;
  margin-bottom: 20px;
}

.widgets.newsletter input[type="submit"] {
  background-color: #ec9103;
  color: #fff;
  padding: 8px 25px;
  border-radius: 20px;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
  cursor: pointer;
}

