html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button, textarea, a {
  	background: transparent;
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: normal;
	font-family: MuseoSans, "Arial", "Helvetica"
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; padding:0 0 1.5em 0; }
input, select { vertical-align:middle; }

/* End of Reset CSS */





body {
	background: #000;
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {  }

/* By default the selection color is pink */
::-moz-selection{ background: #468ab1; color:#fff; text-shadow: none; }
::selection { background:#468ab1; color:#fff; text-shadow: none; }
.ie7 img { -ms-interpolation-mode: bicubic; }



ul, ol, p {
	padding: 0 0 1.5em 0;
}

ul, ol {
	list-style: none;
}

ul li {
	list-style: none;
}

p {
	font-family: MuseoSans, Arial;
	color: #2e2d2d;
	font-size: 13px;
	line-height: 22px;	
}

a {
	color: #8d3d00;
}

article blockquote {
	border-left: 1px solid #ebe0b5;
	font-family: MuseoSans, Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
	padding: 15px 0 15px 30px;
	margin: 5px 0 10px 30px;
}
article ul {
	margin-left: 20px;
}
article ul li {
	padding: 5px;
	list-style: square;
	font-family: MuseoSans, Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}

article ol {
	margin-left: 20px;
}
article ol li {
	padding: 5px;
	list-style-type: decimal;
	font-family: MuseoSans, Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}


/* remember to define focus styles! */
:focus {outline: 0;}

img {border:0;}
a img {border:0}

/* Float Definitions -----------------------------------------------------------*/

.clear {clear:both;} 

.right {float: right;} 

.left {float: left;}

.alignright {float: right;margin: 0 0 2px 7px;}
.alignleft {float: left;margin: 0 7px 2px 0;}

img.left, img.alignleft {float: left;margin: 0 15px 7px 0;}

img.right, img.alignright {float: right;margin: 0 0 7px 15px;}

.post img.aligncenter, .attachment img.aligncenter { display:block; margin: 0 auto; text-align: center; }

.nopad {
	padding: 0px !important;
}
.nomargin {
	margin: 0px !important;
}
.noborder {
	border: none !important;
}

.col_one_fourth {
  width: 25%;
  float: left;
}


/* Base Styles -----------------------------------------------------------*/


/* HEADER */
div#header {
  background-color: #f3f3f3;
  overflow: hidden;
}

div#header .logo {
  float: left;
  padding: 14px;
  border-right: 2px solid #c0c0c0;
}

div#header .navigation {
  float: left;
}

div#header .navigation ul {
  padding: 0;
  margin-left: 5px;
}

div#header .navigation ul li {
  display: inline-block;
  margin: 0 13px;
  line-height: 59px;
}

div#header .navigation ul li a {
  text-transform: uppercase;
  color: #555555;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-family: MuseoSans;
  font-weight: 500;
}

	div#header .navigation ul li a:hover {
	  color: #ec9103;
	  font-weight: 900;
	}

div#header .rightnav {
  float: right;
}

div#header .rightnav ul {
  padding: 0;
}

div#header .rightnav ul li {
  display: inline-block;
  margin: 0 13px;
  line-height: 59px;
}

div#header .rightnav ul li a {
  text-transform: uppercase;
  color: #555555;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-family: MuseoSans;
  font-weight: 500;
}

	div#header .rightnav ul li a:hover {
	  color: #ec9103;
	  font-weight: 900;
	}

div#header .rightnav ul li.demo-engine a {
  background-color: #93c01f;
  color: #fff;
  padding: 8px 25px;
  border-radius: 20px;
}



/* FOOTER */
div#footer {
  background-color: #ededed;
  overflow: hidden;
}

div#footer .container {
  margin: 60px 50px 30px;
  overflow: hidden;
}

div#footer .footernav ul li {
  margin-bottom: 10px;
}

div#footer .footernav ul li a {
  color: #555555;
  font-weight: 300;
  font-size: 17px;
}

div#footer .footeradd i {
  vertical-align: top;
  color: #33a1cc;
  margin-top: 4px;
}

div#footer .footeradd p {
  padding-left: 5px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.8;
  color: #555555;
}

div#footer .footersocial ul {
  padding-bottom: 60px;
}

div#footer .footersocial ul li {
  display: inline-block;
  font-size: 25px;
  margin: 0 5px;
}


div#footer .footersocial ul li i {
  color: #33a1cc;
}

div#footer .footersocial p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

div#footer .footersocial p a {
  color: #33a1cc;
}

